.settings-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.settings-list {
  color: #ccc;
  text-align: left;
  margin: 20px 0;
  min-width: 350px;
}

.settings-buttons-container {
  margin-top: 30px;
}

.setting-item {
  margin-bottom: 15px;
}

.setting-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.setting-label {
  font-size: 1.1rem;
  font-weight: 500;
  margin-right: 20px;
  white-space: nowrap;
}

.setting-value {
  color: #888;
  font-size: 1rem;
}

.rebind-button {
  padding: 8px 12px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #4a4a4a;
  border: 2px solid #4a4a4a;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  min-width: 200px;
  text-align: center;
  transition: background-color 0.2s, border-color 0.2s;
}

.setting-select {
  padding: 8px 12px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #4a4a4a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  min-width: 200px;
}

.setting-select:hover {
  background-color: #6a6a6a;
}

.setting-select option {
  background-color: #4a4a4a;
  color: white;
  border: none;
  padding: 8px;
}
